@using AracKiralamaSitesiCoreProje.Models
@model List<Arac>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AnaTema.cshtml";
}

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">Arac İd</th>
            <th scope="col">Arac Fotoğraf</th>
            <th scope="col">Arac Marka</th>
            <th scope="col">Arac Model</th>
            <th scope="col">Arac Plaka</th>
            <th scope="col">Arac Yakıt</th>
            <th scope="col">Günlük Ücret</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.AracId</td>
                <td>
                    <img src="@x.AracFoto" alt="Arac Fotoğrafı" width="100" height="60" style="object-fit:cover; border-radius:6px;" />
                </td>

                <td>@x.AracMarka</td>
                <td>@x.AracModel</td>
                <td>@x.AracPlaka</td>
                <td>@x.AracYakit</td>
                <td>@x.AracGunlukFiyat</td>
            </tr>
        }
    </tbody>
</table>



